<div class="landing-page" >
  <div class="landing-page-container">
    <div class="fpm-header">
      <span>Clausion FPM</span>
    </div>
    <div class="info-container">
      <div class="left-container">

        <div class="onbording-section">
          <div class="onbording-header">
            <span>Welcome to Clausion Financial Performance Management</span>
          </div>
          <div class="welcome-note">
            <span class="welcome-info">Clausion FPM is a planning and reporting system designed to help you with your company’s daily routines and critical decisions. Clausion FPM collects all business management data efficiently from one system — securely, reliably and in an easily interpretable format. Know where your company stands today and tomorrow..</span>
          </div>
          <div class="file-details">
            <span>For more details</span>
            <span class="file-name"><a href="https://www.clausion.com/" target="_blank">Click Here</a></span>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="systeminfo-section">
          <div class="systeminfo-header">
            <span>System Information</span>
          </div>
          <div class="system-info">
            <div class="version-info">
              <span>Clausion FPM Web Client Version</span>
              <span class="value" title="version">1.2.0</span>
            </div>
            <div class="env-info">
              <span>Environment</span>
              <span class="value" title="environment">1.0.1</span>
            </div>
          </div>
        </div>
        <div class="support-section">
          <div class="support-header">
            <span>Support</span>
          </div>
          <div class="support-info">
            <div class="help-info">
              <span>Need help?</span>
              <span class="value help"><a title="Contact Us" class="help-link" target="_blank" href="https://www.clausion.com/contact-us/">Online help</a></span>
            </div>
          </div>
          <div class="about">
            <span>About Clausion FPM</span>
            <div class="textPadding">
              <div class="about-links"><a title="End user licence agreement" href="#" >End user licence agreement</a><span class="divider"></span></div>
              <div class="about-links"><a title="Privacy policy" href="https://www.clausion.com/privacy-policy/" target="_blank">Privacy policy</a> <span class="divider"></span></div>
              <div class="about-links"><a title="3rd party add-ons" href="#" >3rd party add-ons</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
